
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Sofia", sans-serif;

}
section
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 30px 100px;
	display: flex;
	align-items: center;
	background: url("images/bg2.jpg") no-repeat;
	background-size: 100%;
	overflow-x: hidden;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 100px;
}
header .logo{
	font-family:  sans-serif;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.5em;
	color: #fff;
	line-height: 2px;
	transition: 0.5s;
	transform-origin: left;
}
header .toggle
{
  position: relative;
  width: 30px;
  height: 30px;
  background: url("images/menu.png") no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
header .toggle.active
{

  background: url("images/cancel.png") no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
}
section.active::before
{
	background: #21283a;
	box-shadow: 0 0 0 1200px #006400;

}
.content h4
{
	letter-spacing: 2px;
	color: #39FF14;
	font-size: 1.52em;
    font-weight: 400;
    margin-bottom: 10px;
}
.content h2
{
	letter-spacing: 2px;
    color: #4AF1F2;
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 10px;
}
.content h3
{
	letter-spacing: 2px;
    color: #fff;
    margin-bottom: 10px;
    font-family: serif;
}
.content p
{
	font-size: 1.2em;
	font-family: 'Indie Flower', cursive;
	letter-spacing: 2px;
	color: #FF5F1F;
	margin-bottom: 10px;
}
.men{
	position: absolute;
	z-index: 2;
	bottom: 20;
	right: 150px;
	max-width: 400px;
}
.content
{
	position: relative;
	z-index: 2;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: 0.5s;
	transform-origin: right;
}
.content .contentbx
{
	position: relative;
	max-width: 600px;
}
.content .contentbx a
{
	display: inline-block;
	color: #111;
	padding: 10px 20px;
	margin-bottom: 10px;
	text-decoration: none;
	transition: 0.5s;
	text-transform: uppercase;
	font-weight: 500;
	margin-right: 10px;
	letter-spacing: 2px;
	background:  #00FF00;
    border-radius: 10%;
    font-family: 'poppins' , sans-serif;
}
.content .contentbx h2
{
	font-family: 'Architects Daughter', cursive;
}
.content .contentbx a:hover
{
	letter-spacing: 4px;
	background: #fff;
	color: #111;
}
.sci
{
	position: absolute;
	bottom: 40px;
	justify-content: center;
	align-items: center;
	z-index: 2;
	transition: 0.5s;
	display: flex;
}
.sci li
{
	list-style: none;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.sci li a
{
	display: inline-block;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	border: 2px solid #fff;
	border-radius: 50%;
	transform-origin: left;
}
.sci li a:hover 
{
	background: #fff;
	filter: 
}
.sci li a img
{
	filter: invert(1);
    transform: scale(0.6);
}
.sci li a:hover img
{
  filter: invert(0);
}
.banner.active .sci,
.banner.active .content,
.banner.active .logo
{
	transform: scale(0);
	transform-origin: left;
}
.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 100px;
	transition: 0.5s;
	z-index: 2;
	visibility: hidden;
	opacity: 0;
}
.banner.active .menu
{
   visibility: visible;
   opacity: 1;
}
.banner.active .box
{
   visibility: hidden;
   opacity: 0;
}
.menu li
{
	list-style: none;
}
.menu li a
{
	color: #fff;
	font-family: sans-serif;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-block;
	margin: 5px 0;
	transition: 0.2 ease-in-out;
	font-size: 1.5em;
}
.menu li a:hover
{
	letter-spacing: 6px;
	background: #fff;
	color: #161e23;
}
.navmenu
{
   align-items: left;
  text-decoration]: none;
  background-color: none;
  width: 100%;
  padding: 10px 300px;
  top: 0;
  z-index: 999;
  transition: .3s linear; 
}
.lmenu
{
	align-items: right;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}
.navmenu a
{
	text-decoration: none;
	font-family: sans-serif;
	align-items: right;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}
.navmenu a:hover{
  color:#48dbfb;
  padding: 0 10px;
  font-weight: bolder;
}
/* Swishhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh  */
@media (max-width: 991px)
{
	header
	{
		padding: 30px 40px;
	}
	section
	{
		padding: 40px 40px;
		background: url("bg.jpg");
        overflow-x: auto;
	}
	.innerbox
	{
		overflow-x: auto;
		height: 50px;
	}
	section .support
	{
		position: relative;
		
	}
	.content
	{
		margin: 50px 0;
	}
	.men
	{
		right: -100px;
		opacity: 0.3;
		padding-left: 0;
	}
	header .toggle
	{
		visibility: visible;
		opacity: 1;
	}
	.navmenu 
	{
		visibility: hidden;
		opacity: 0;
		padding: 0;
        align-items: left;
	}
	header .toggle
	{
        width: 20px;
  height: 20px;
	}
	.box h2
	{
		color: #0f2240;
		text-decoration: underline;
		margin-bottom: 15px;
	}
	.box p
	{
		font-size: 17px;
        color: #fff;
        font-weight: bold;
	}
	.ser 
	{
      padding-left: 40px;

	}
}







/* ...................About..................................................     */

.box
{
  position: relative;
  max-width: 700px;
  max-height: 450px; 
  background:  #FFA500;
  padding: 20px 15px;
  margin: 30px 10px;
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
  font-size: 30px;
  align-items: center;
}
.box h2
	{
		color: #0f2240;
	}
	.box p
	{
        color: blue;
        font-weight: bold;
	}

/* .............services.......................*/
.innerbox
{
	
	border-radius: 3%;
	margin-top: 50px;
	padding: 10px 40px;
	align-items: top;
	position: relative;
	transition: 0.2s ease-in-out;
}
.innerbox .support
{

	align-items: center;
	background:  #C0C0C0;
	max-width: 400px;
    max-height: 500px;
    border-radius: 10%;
    transition: 0.3s;
	transform-origin: left;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 0px;
    font-family: serif;
    font-size: 13px
}

.support img
{
	height: 200px;
	width: 250px;
	border-radius: 10%;
	position: relative;
}
.support h3
{
	text-transform: capitalize;
	align-items: center;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}
.support:hover
{
	cursor: pointer;
	color: #00008B;
	background: #FFA500;
	padding: 10px 10px;
}
.banner.active .support
{
	visibility: hidden;
	opacity: 1;
}
.banner.active .innerbox
{
	visibility: hidden;
	opacity: 1;
}









